/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

/* navbar */
.nav {
  display: flex;
  padding: 20px;
}
.model {
  border-radius: 50px;
  background: rgba(65, 255, 107, 0.1);
  /* Frame 27149 */
  width: 123px;
  height: 52px;
  /* Auto layout */
  justify-content: center;
  align-items: center;
  gap: undefined;
  padding: 12px;
}

.model-copy {
  border-radius: 50px;
  background: rgba(0, 166, 62, 1);
  /* Frame 27149 */
  width: 123px;
  height: 52px;
  /* Auto layout */
  justify-content: center;
  align-items: center;
  gap: undefined;
  padding: 12px;
}
/* banner section */
.baner {
  background: linear-gradient(to right, #013223, #006747, #013223);
}

.baner-title {
  font-family: Hind Madurai;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}
.baner-deatil {
  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}
/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* card */
.card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* btn */
.callBtn {
  width: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 8px;
  background: var(--Green, rgba(0, 166, 62, 1));
  font-size: small;
}
.btn-all {
  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background: var(--White, rgb(212, 211, 211));
  font-size: medium;
}
.clear-btn {
  border-radius: 50px;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 166, 62, 1);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 36px 12px 36px;
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
